##ignor these files##
/data/1458/
/data/3386/
/backup-data/
.idea
/__pycache__/
/src/__pycache__/
/src/base_bid/__pycache__/
/src/base_bid/result/
/src/FAB_NO_BN/__pycache__/
/src/FAB_NO_BN/1458/sample/
/src/FAB_NO_BN/1458/data/
/src/FAB_NO_BN/3386/sample/
/src/FAB_NO_BN/3386/data/
/src/FAB_BN/__pycache__/
/src/FAB_BN/1458/sample/
/src/FAB_BN/1458/data/
/src/FAB_BN/3386/sample/
/src/FAB_BN/3386/data/
/src/DRLB/__pycache__/
/src/DRLB/data/
/src/DRLB/result/
/src/heuristic_algo/__pycache__/
/src/heuristic_algo/result/
/src/RLB/__pycache__/
/src/RLB/data/
/src/RLB/result/